---

import Layout from "../layouts/Layout.astro"
import Section from "../components/Section"
import Drawings from "../components/Drawings";
import Clicks from "../components/Clicks";

---

<Layout title="Akash Sharma | Blogs">
    <Section title="Hobbies" attrib="-left-[5.8rem]">
        <p class = "dark-text-l font-medium lg:pt-1">I <span class="dark-text">draw</span> and <span class="dark-text">click</span> sometimes :)</p>
        
    </Section>
    <Section attrib = "-left-[6rem]" title="Drawings">
        <Drawings />
    </Section>
    <Section attrib = "-left-[6rem]" title="Clicks">
        <Clicks>
    </Section>
</Layout>