---
// import Nav from "../components/Nav";
import Layout from "../layouts/Layout.astro";
// import Hero from "../components/Hero";
import Intro from "../components/Intro";
import Social from "../components/Social";
import Section from "../components/Section";
import Projects from "../components/Projects";
import Bio from "../components/Bio"
import Previous from "../components/Previous"
---

<Layout title="Akash Sharma | Portfolio">
	<Intro />
	<Social />
	<Section title="Projects">
		<></>
	</Section>
	<Projects client:visible />
	<Bio />
	<Previous />
</Layout>
