---
import Nav from "../components/Nav";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Intro from "../components/Intro";
import Social from "../components/Social"
import Section from "../components/Section"
import Projects from "../components/Projects"
---

<Layout title="Akash Sharma | Portfolio">
	<Nav client:load />
	<Hero />
	<Intro />
	<Social />
	<Section title="Projects"><></></Section>
	<Projects client:load />
</Layout>
